<h1>Let's create a shortened url</h1>

<div>
  <form name="linkForm"
        ng-submit="linkForm.$valid && addLink()" >

    <input type="url" ng-model="originalUrl" placeholder="Enter an url" required/>
    <input type="submit" value="Create short url" />
  </form>
</div>

<div ng-show="link">
  <h4>Result :</h4>
  <p>
    {{ link.original_url }} -> <a href="{{ link.short_url }}">{{ link.short_url }}</a>
  </p>
</div>

<a href="/">Home</a>
